.faq__page {
  padding-bottom: 89.8px;

  @include mq(576) {
    padding-bottom: 50px;
  }
  .header__page {
    margin-top: 105.9px;
    margin-bottom: 69.2px;
    @include mq(576) {
      margin-top: 30px;
      margin-bottom: 16px;
    }
    h5 {
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      color: #000;
      @include mq(576) {
        font-size: 14px;
        margin-bottom: 18px;
        text-align: center;
      }
    }
  }
  .faq__list {
    margin: 0 101px;
    @include mq(992) {
      margin: 0;
    }
    .accordion-item {
      padding: 30.7px 26.1px 3.3px 42.2px;
      border: none;
      margin-bottom: 9.3px;
      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
      @include mq(768) {
        padding-left: 12px;
      }
      @include mq(576) {
        padding: 20px;
        padding-left: 12px;
      }
    }
    .accordion-button {
      font-weight: 500;
      font-size: 16px;
      color: #000;
      text-align: left;
      padding-right: 0;
      padding-left: 0;
      margin-left: 20px;
      padding-right: 20px;
      padding-bottom: 25.7px;
      padding-top: 0;
      @include mq(768) {
        line-height: 32px;
      }
      @include mq(576) {
        font-size: 10px;
        padding-bottom: 0;
        line-height: 16px;
      }
    }
    .accordion-body {
      border-top: 1px solid #e4e4e4;
      margin-left: 20px;
      padding-left: 0;
      padding-top: 13px;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #000;
      @include mq(576) {
        font-size: 9px;
      }
    }
    .collapsed {
      border-bottom: 1px solid transparent;
    }
    .accordion-button:not(.collapsed) {
      font-weight: 500;
      font-size: 16px;
      color: #000;
      background-color: transparent;
      box-shadow: none;
      @include mq(576) {
        font-size: 10px;
      }
    }
    .accordion-button {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    .accordion-button:focus {
      box-shadow: none;
    }
    .accordion-button::after {
      margin-right: 0;
      background-image: url("../img/arr.svg");
      width: 5px;
      height: 9px;
      transform: rotate(0deg);
      background-size: auto;
      transition: all 0.4s;
      margin-left: 20px;
    }
    .accordion-button:not(.collapsed)::after {
      transform: rotate(90deg);
    }
  }
  .accordion-button:not(.collapsed)::after {
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}
