footer {
  @include mq(576) {
    padding: 0px 16px;
  }
  .warpper {
    padding-top: 56px;
    border-top: 1px solid #e4e4e4;
    padding-bottom: 56px;
    display: flex;
    @include mq(992) {
      flex-wrap: wrap;
      padding-bottom: 48px;
    }
    .cantact__us {
      width: 30%;
      padding-right: 32px;
      @include mq(992) {
        width: 50%;
      }
      @include mq(768) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 32px;
      }
      h4 {
        margin-bottom: 22.8px;
        font-weight: bold;
        font-size: 27px;
        line-height: 34px;
        text-align: left;
        color: #2b2b2b;
        @include mq(576) {
          font-size: 14px;
          margin-bottom: 18px;
        }
      }
      ul {
        li {
          display: flex;
          margin-bottom: 16px;

          &:first-child {
            // margin-bottom: 32px;
          }
          h6 {
            width: calc(56% - 28px);
            text-align: left;
            margin-bottom: 0;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #2b2b2b;
            @include mq(992) {
              width: calc(100% - 28px);
            }
          }
          svg {
            margin-top: 1px;
            margin-right: 8px;
          }
        }
      }
    }
    .follow__us {
      width: 30%;
      padding-right: 32px;
      @include mq(992) {
        width: 50%;
      }
      @include mq(768) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 32px;
      }
      h4 {
        margin-bottom: 23.5px;
        font-weight: bold;
        font-size: 27px;
        line-height: 34px;
        text-align: left;
        color: #2b2b2b;
        @include mq(576) {
          font-size: 14px;
          margin-bottom: 18px;
        }
      }
      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 8px;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background: #fff;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
            margin-right: 16px;
            border-radius: 100%;
            margin-bottom: 4px;
            @include mq(576) {
              width: 38px;
              height: 38px;
              margin-right: 12px;
              svg {
                height: 15px;
              }
            }
          }
        }
      }
      h6 {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        color: #2b2b2b;
        margin-bottom: 28px;
        margin-top: 24px;
        @include mq(576) {
          font-size: 14px;
          margin-bottom: 18px;
        }
      }
      .items {
        display: flex;
        align-items: center;
        @include mq(375) {
          // flex-direction: column;
        }
        a {
          // width: calc(50% - 8px);
          padding: 8px;
          border-radius: 12px;
          background: #080809;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          svg {
            height: 24px;
            max-width: 100px;
          }
          @include mq(500) {
            // width: 100%;
            margin-bottom: 8px;
          }
        }
      }
    }
    .form__box {
      width: 40%;
      @include mq(992) {
        margin-top: 32px;
        width: 100%;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        input,
        textarea {
          border-radius: 5px;
          background: transparent;
          border: 1px solid #b0b0b0;
          padding: 16px 16px;
          margin-bottom: 13px;
          &::placeholder {
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            color: #2b2b2b;
            @include mq(576) {
              font-size: 14px;
            }
          }
        }
        input[type="text"] {
          width: 40%;
          margin-right: 13px;
          @include mq(576) {
            width: 100%;
            margin-right: 0;
          }
        }
        input[type="email"] {
          width: calc(60% - 13px);
          @include mq(576) {
            width: 100%;
          }
        }
        textarea {
          width: 100%;
          height: 100px;
          padding-top: 24px;
          padding-left: 19px;
          @include mq(576) {
            padding-top: 8px;
          }
        }
        button {
          padding: 13px 48px;
          border-radius: 16px;
          background: #fe6500;
          font-weight: bold;
          font-size: 16px;
          text-align: center;
          color: #fff;

          box-shadow: 0px 20px 70px rgba(241, 165, 1, 0.15);

          @include mq(576) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    padding-bottom: 32px;
    @include mq(576) {
      padding-bottom: 10px;
    }
    h6 {
      font-weight: normal;
      font-size: 16px;
      line-height: 17px;
      text-align: center;
      color: #2b2b2b;
      margin: 0;
      @include mq(576) {
        font-size: 12px;
      }
    }
  }
}
