header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  @include mq(992) {
    padding: 20px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: inline-block;
      svg {
        height: 42px;
      }
      @include mq(1200) {
        width: 153px;
        svg {
          width: 100%;
        }
      }
      @include mq(576) {
        width: unset;
        svg {
          height: 21px;
          width: unset;
        }
      }
    }
    > nav {
      z-index: 1000;
      @include mq(992) {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        padding-left: 40px;
        background: #f9f9f9;
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
      }
      @include mq(600) {
        padding-left: 15px;
      }
      > ul {
        display: flex;
        align-items: center;
        @include mq(992) {
          flex-direction: column;
          align-items: flex-start;
        }
        > li {
          margin-left: 56px;
          position: relative;
          @include mq(992) {
            margin-bottom: 20px;
          }
          @include mq(600) {
            margin-left: 15px;
          }

          > a {
            font-weight: 400;
            font-size: 16px;
            text-align: left;
            color: $gray100;
          }
          &:hover {
            .submenu {
              display: block;
            }
          }
          .submenu {
            z-index: 10000;
            display: none;
            padding-top: 24.9px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            min-width: 136px;
            @include mq(992) {
              top: 70%;
              left: 0;
              transform: unset;
            }
            ul {
              border-radius: 12px;
              background: #fff;
              padding: 15.8px 22.5px 24.7px 19.6px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
              li {
                margin-bottom: 19.4px;
                &:last-child {
                  margin-bottom: 0px;
                }
                a {
                  font-weight: bold;
                  font-size: 13px;

                  color: #000;
                }
              }
            }
          }
          .submenu__big {
            min-width: 150px !important;
          }
        }
        > .active {
          a {
            color: #fe6500;
            font-weight: bold;
          }
        }
      }
    }
    .mobile__menu {
      display: none;
      svg{
        height: 14px;
      }
      @include mq(992) {
        display: block;
      }
    }
  }
  .mobile__menu__items {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    top: 0;
    right: 0;
    z-index: 999999;
    padding-top: 29px;
    .close__item {
      margin-right: 19px;
      .btn-close{
        background:transparent url('../img/X.svg') no-repeat;
      }
    }
    .item__conteiner {
      height: 100vh;
      overflow: auto;
    }
    nav {
      margin: 51px 45px 0 51px;
      > ul {
        > li {
          font-weight: 500;
          font-size: 16px;
          line-height: 27px;
          color: #969696;
          padding-bottom: 18.8px;
          margin-bottom: 21.2px;
          border-bottom: 1px solid rgba(#707070, 0.3);
          > a {
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;

            color: #969696;
          }

          .submenu {
            display: none;
            margin-top: 20px;
            margin-left: 16px;
            ul {
              li {
                margin-bottom: 15px;
                a {
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 27px;

                  color: #969696;
                }
              }
            }
          }
        }
        .active {
          font-weight: bold;
          font-size: 16px;
          line-height: 27px;

          color: #f66200;
          a {
            font-weight: bold;
            font-size: 16px;
            line-height: 27px;

            color: #f66200;
          }
        }
        .has__sub {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            height: 8.746px;
            width: 5.197px;
          //  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          background-image: url('../img/arr.svg');  
          background-repeat: no-repeat;
            background-position: center right;
           
            right: 0;
            top: 3px;
            transition: all 0.4s;
            transform: rotate(0deg);
          }
        }
        .open__sub {

          &::after {
           
            transform: rotate(90deg);
          }
          .submenu {
            display: block !important;
          }
        }
      }
    }
  }
}
