.maintain {
  background: url(../img/mainten-bg.svg) no-repeat left top;
  border-bottom: 1px solid #e4e4e4;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    @include mq(768) {
      flex-direction: column;
    }
    svg {
      height: 56px;
    }
    .text {
      font-size: 20px;
      line-height: 32px;
      font-weight: bold;
      @include mq(992) {
        font-size: 18px;
        text-align: center;
        padding: 6px;
      }
    }
  }
}

.hero__box {
  margin-top: 28px;
  margin-bottom: 48px;
  @include mq(1200) {
    margin-top: 120px;
  }
  @include mq(992) {
    margin-top: 30px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(992) {
      flex-direction: column-reverse;
    }
    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @include mq(992) {
        width: 100%;
      }
      h2 {
        position: relative;
        font-weight: bold;
        font-size: 30px;
        color: $black100;
        margin-bottom: 70px;
        font-family: "Poppins", sans-serif;
        text-align: left;
        @include mq(1400) {
          font-size: 25px;
        }
        &::after {
          content: "What is Clexi?";
          position: absolute;
          right: 50%;
          top: 50%;
          font-weight: bold;
          font-size: 94px;
          color: $black100;
          opacity: 0.05;
          transform: translate(50%, -50%);
          width: 110%;
          font-family: "Poppins", sans-serif;
          @include mq(1400) {
            font-size: 80px;
          }
          @include mq(1200) {
            font-size: 65px;
          }
          @include mq(768) {
            font-size: 45px;
          }
        }
      }
      p {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.03em;
        line-height: 38px;
        text-align: justify;
        color: $black200;
        margin-bottom: 43px;
        padding-right: 24px;
      }
      .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -12px;
        padding-right: 24px;
        @include mq(1400) {
          flex-direction: column;
          margin: 0;
        }
        a {
          display: inline-block;
          padding: 16px;
          border-radius: 12px;
          width: calc(50% - 24px);
          margin: 0 12px;
          font-weight: bold;
          font-size: 16px;
          text-align: center;
          color: $white;
          @include mq(1400) {
            margin-bottom: 15px;
            width: 100%;
          }
        }
        .green {
          background: $green100;
        }
        .red {
          background: $red100;
        }
      }
    }
    .img {
      @include mq(992) {
        margin-bottom: 25px;
      }
      svg {
        // max-width: 700px;
        height: 500px;
        @include mq(1200) {
          max-width: 500px;
          max-height: 500px;
        }
        @include mq(600) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.download__app__box {
  padding-top: 32px;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  background-image: url(../../img/downloadBg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  margin-bottom: 100px;
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    // height: 100vh;
    z-index: -1;
    display: none;
  }
  @include mq(1200) {
    // margin-top: 120px;
  }
  @include mq(992) {
    margin-top: 30px;
    margin-bottom: 56px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(992) {
      flex-direction: column;
    }
    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @include mq(992) {
        width: 100%;
      }
      h2 {
        position: relative;
        font-weight: bold;
        font-size: 24px;
        color: $black100;
        margin-bottom: 70px;
        font-family: "Poppins", sans-serif;

        &::after {
          content: "Cléxi app";
          position: absolute;
          right: 50%;
          top: 50%;
          font-weight: bold;
          font-size: 85px;
          color: $black100;
          opacity: 0.05;
          transform: translate(50%, -50%);
          width: 100%;
          font-family: "Poppins", sans-serif;

          @include mq(1200) {
            font-size: 65px;
          }
          @include mq(768) {
            font-size: 45px;
          }
        }
      }
      .items {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq(500) {
          flex-direction: column;
        }
        a {
          width: 210px;
          height: 64px;
          border-radius: 12px;
          background: #080809;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 9px;
          svg {
            height: 35px;
          }
          @include mq(500) {
            width: 100%;
          }
        }
      }
    }
    .img {
      @include mq(992) {
        margin-bottom: 48px;
      }
      svg {
        max-width: 700px;
        max-height: 550px;
        @include mq(1200) {
          max-width: 500px;
          max-height: 500px;
        }
        @include mq(600) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.software__support {
  margin-bottom: 100px;
  @include mq(992) {
    margin-bottom: 56px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    @include mq(992) {
      flex-direction: column-reverse;
    }
    .right {
      width: 50%;
      // padding: 0 40px;
      text-align: right;
      @include mq(992) {
        width: 100%;
        height: 300px;
        margin-bottom: 16px;
      }
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .left {
      width: 50%;
      padding-right: 40px;
      @include mq(992) {
        width: 100%;
        padding-right: 0;
      }
      h5 {
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 0.01em;
        text-align: left;
        color: $black100;
        font-family: "Poppins", sans-serif;
        margin-bottom: 24px;
      }
      p {
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        text-align: justify;
        color: $black200;
        padding: 0;
        margin-bottom: 24px;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 18px;
        background: $white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
        padding: 12px;
        padding-left: 24px;
        margin-bottom: 32px;
        span {
          font-weight: bold;
          font-size: 16px;
          // line-height: 28px;
          text-align: left;
          color: #252425;
          display: flex;
          align-items: center;
          font-family: "Poppins", sans-serif;

          svg {
            margin-right: 6px;
            height: 32px;
            margin-bottom: 4px;
          }
        }
        .downlowd__arrow {
          height: 56px;
        }
      }
      h4 {
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 0.01em;
        text-align: left;
        color: $black100;
        margin-bottom: 24px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
.report__problem {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 40px 24px;
    border-radius: 24px;
    background: $white;
    box-shadow: 0px 0px 99px rgba(44, 44, 44, 0.06);
    margin: 16px 32px 40px 32px;
    @include mq(576) {
      padding: 40px 24px;
    }
    p {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      color: #2b2b2b;
      margin-bottom: 32px;
      max-width: 820px;
      @include mq(576) {
        font-size: 20px;
      }
    }
    a {
      font-weight: bold;
      font-size: 14px;
      text-align: right;
      color: $white;
      padding: 16px 96px;
      border-radius: 16px;
      background: #fe6500;
      text-align: center;
      font-family: "Poppins", sans-serif;

      @include mq(576) {
        padding: 16px;
        width: 100%;
        font-size: 20px;
      }
    }
  }
}
