.page__3 {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 67px;
  .left {
    width: 50%;
    text-align: left;
    overflow-x: hidden;
    img {
      height: 663px;
      margin-left: -50px;
      @include mq(1100) {
        height: 570px;
      }
      @include mq(992) {
        height: unset;
      }
    }
  }
  .right {
    width: calc(35% + 50px);
    // margin-left: 5%;
    @include mq(1300) {
      width: 50%;
      padding-right: 40px;
    }
    h3 {
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      text-align: left;
      color: #000;
      margin-bottom: 34px;
      @include mq(450) {
        text-align: center;
        font-size: 14px;
        margin-bottom: 18px;
        line-height: unset;
      }
    }
    p {
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.01em;
      line-height: 32px;
      text-align: justify;
      color: #343434;
      margin-bottom: 63px;
      @include mq(450) {
        font-size: 14px;
      }
    }
    .btns {
      h6 {
        margin-bottom: 17px;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        color: #000;
        @include mq(450) {
          font-size: 14px;
        }
      }
      .items {
        display: flex;
        align-items: center;
        a {
          width: 181.06px;
          height: 59.39px;
          border-radius: 17.5px;
          background: #080809;
          display: flex;
          align-items: center;
          justify-content: center;
          // margin-right: 13px;
          margin-bottom: 8px;
          &:first-child{
            margin-right: 13px;
          }
        }
        @include mq(420) {
          flex-wrap: wrap;
          a {
            width: 100%;
            &:first-child{
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  @include mq(992) {
    flex-direction: column;
    margin-top: 0px;
    .left {
      width: 100%;
      img {
        height: unset;
        max-width: 100%;
      }
    }
    .right {
      width: 100%;
      padding-right: 0;
      padding: 24px;
      margin: 0;
      .btns {
        h6 {
          font-size: 14px;
          text-align: center;
          margin-bottom: 18px;
          width: 100%;
        }
      }
    }
  }
  @include mq(576) {
    margin-bottom: 30px;
    .right {
      h3 {
        text-align: center;
        font-size: 14px;
        margin-bottom: 18px;
      }
      p {
        font-size: 14px;
      }
      .btns {
        h6 {
          font-size: 14px;
          text-align: center;
          margin-bottom: 18px;
          width: 100%;
        }
      }
    }
  }
}
