.page__4 {
  .first__section {
    display: flex;
    align-items: center;
    margin-top: 93px;
    .left {
      width: 50%;
      padding-right: 24px;
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        text-align: left;
        color: #000;
        margin-bottom: 33px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        text-align: justify;
        color: #343434;
        margin-bottom: 0;
      }
    }
    .right {
      width: 50%;
      text-align: right;
      img,
      svg {
        height: 450px;
        @include mq(1300) {
          height: 400px;
        }
        @include mq(576) {
          height: 230px;
        }
      }
    }
    @include mq(992) {
      flex-direction: column-reverse;
      margin-bottom: 16px;
      margin-top: 0px;
      .left {
        width: 100%;
        padding-right: 0;
      }
      .right {
        width: 100%;
        text-align: center;
        margin-top: 24px;
        svg,
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    @include mq(576) {
      .right{
        svg,
        img {
          width: 100%;
          height: unset;
          margin-bottom: 18px;
        }
      }
      .left {
        h3 {
          font-size: 14px;
          text-align: center;
          margin-bottom: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .second__section {
    h3 {
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 0.01em;
      line-height: 45px;
      text-align: left;
      color: #343434;
      margin-bottom: 30px;
      @include mq(576) {
        font-size: 14px;
        text-align: center;
        margin-bottom: 28px;
      }
    }
    .items {
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        width: 50%;
        margin-bottom: 40px;
        @include mq(992) {
          width: 100%;
          margin-bottom: 30px;
        }
        picture {
          width: 105px;
          height: 105px;
          border-radius: 12px;
          background: transparent;
          border: 3px solid #707070;
          display: flex;
          align-items: center;
          justify-content: center;

          img,
          svg {
            height: 77px;
          }
          @include mq(768) {
            height: 68px;
            width: 68px;
            img,
            svg {
              height: 50px;
            }
          }
        }
        h5 {
          width: calc(100% - 105px);
          padding-left: 20px;
          margin-bottom: 0;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0.01em;
          line-height: 31px;
          text-align: justify;
          color: #343434;
          padding-right: 90px;
          @include mq(1200) {
            padding-right: 40px;
          }
          @include mq(992) {
            padding-right: 0;
          }
          @include mq(768) {
            font-size: 14px;
            padding-left: 13.5px;
            line-height: 19px;
            width: calc(100% - 82px);
          }
        }
      }
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 51px;
    border-top: 1.5px solid #e4e4e4;
    margin-bottom: 30px;
    @include mq(576) {
      flex-wrap: unset;
      overflow-x: scroll;
    }
    .item {
      width: calc(33.33% - 16px);
      height: 207px;
      border-radius: 12px;
      border: 1px solid #707070;
      margin: 8px;
      overflow: hidden;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: unset;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include mq(992) {
        width: calc(50% - 18px);
        margin: 9px;
        &:first-child {
          margin-left: 9px;
        }
      }
      @include mq(576) {
        width: 100%;
        margin: 9px 0;
        &:first-child {
          margin-left: unset;
        }
        min-width: 265px;
        margin-right: 16px;
        height: 159px;
      }
      @include mq(576) {
        min-width: 265px;
        margin-right: 16px;
        height: 159px;
      }
    }
  }
 
}
.image__container{
  position: relative;
  .btn-close{
    position: absolute;
    right: 17px;
    top: 13px;
    @include mq(768){
      right: 52px;
    }
    @include mq(576){
      right: 40px;
    }
    @include mq(430){
      right: 30px;
    }
  }
}
.overlay__gallery {
  z-index: 10;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: #6b6b6c;
  opacity: 0.46;
}
.overlay__gallery__active {
  display: block;
}
.image__box {
  z-index: 11;
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  top: 10%;
  @include mq(768) {
    width: 100vw;
    text-align: center;
  }
  img {
    border-radius: 14px;
    max-width: 100%;
    width: 100%;
    @include mq(768) {
      width: 90vw;
    }
  }
}
