.page__11 {
  margin-top: 90px;
  margin-bottom: 115px;
  @include mq(768) {
    margin-top: 40px;
  }
  .main__content {
    .first__section {
      display: flex;
      margin-bottom: 60px;
      @include mq(768) {
        flex-wrap: wrap-reverse;
      }
      .left {
        width: 50%;
        @include mq(992) {
          width: 70%;
        }
        @include mq(768) {
          width: 100%;
        }
        h3 {
          font-weight: bold;
          font-size: 30px;
          text-align: left;
          color: #000;
          margin-bottom: 37px;
          @include mq(576) {
            font-size: 14px;
            text-align: center;
            margin-bottom: 18px;
            margin-top: 20px;
          }
        }
        p {
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0.01em;
          line-height: 24px;
          text-align: justify;
          color: #000;
          margin-bottom: 47px;
          @include mq(576) {
            font-size: 14px;
            margin-bottom: 26px;
            // line-height: 22px;
          }
        }
        form {
          .form__content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            input {
              //   width: calc(50% -  12px);
              height: 66.55px;
              border-radius: 12px;
              background: #fbfbfb;
              border: 1px solid #b0b0b0;
              padding-left: 19px;
              margin-bottom: 12px;
              @include mq(576) {
                height: 48px;
              }
              &::placeholder {
                font-weight: normal;
                font-size: 15px;
                text-align: left;
                color: #2b2b2b;
                @include mq(576) {
                  font-size: 12px;
                }
              }
            }
            input[type="text"] {
              width: calc(40% - 12px);
              margin-right: 12px;
              @include mq(576) {
                width: 100%;
                margin-right: 0;
              }
            }
            input[type="email"] {
              width: 60%;
              @include mq(576) {
                width: 100%;
                margin-right: 0;
              }
            }
            textarea {
              width: 100%;
              height: 114.24px;
              border-radius: 12px;
              background: #fbfbfb;
              border: 1px solid #b0b0b0;
              padding: 19px;
              margin-bottom: 15px;
              &::placeholder {
                font-weight: normal;
                font-size: 15px;
                text-align: left;
                color: #2b2b2b;
                @include mq(576) {
                  font-size: 12px;
                }
              }
            }
            .captcha__box {
              display: block;
              width: 100%;
              margin-bottom: 21px;
              img {
                width: 199.32px;
                height: 54.11px;
                border-radius: 5px;
                border: 1px solid #b0b0b0;
              }
            }
            .submit__btn {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              span {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                small {
                  width: 24px;
                  height: 24px;
                  border-radius: 24px;
                  font-size: 12px;
                  color: white;
                  padding: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 8px;
                }
              }
              button {
                margin-right: 16px;
                font-weight: bold;
                font-size: 18px;
                text-align: right;
                color: #fff;
                padding: 16px 60px;
                border-radius: 15px;
                background: #fe6500;
                text-align: center;
                @include mq(576) {
                  // width: 100%;
                  padding: 13px 60px;
                  margin-right: 10px;
                  margin-bottom: 8px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      .right {
        width: 50%;
        text-align: center;
        img {
          max-width: 100%;
          height: unset;
        }
        @include mq(992) {
          width: 30%;
        }
        @include mq(768) {
          width: 100%;
          text-align: center;
          img {
            height: 200px;
          }
        }
        @include mq(576) {
          text-align: center;
          margin-bottom: 16px;
          img {
            width: 100%;
            height: unset;
          }
        }
      }
    }
    .second__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 0px 40px rgba(44, 44, 44, 0.11);
      margin-bottom: 66px;
      @include mq(992) {
        padding: 24px;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        color: #2b2b2b;
        width: 100%;
        max-width: 528px;
        margin-bottom: 30px;
        @include mq(576) {
          font-size: 14px;
          font-weight: normal;
        }
      }
      button {
        border-radius: 15px;
        background: #fe6500;
        box-shadow: 0px 10px 30px rgba(241, 165, 1, 0.15);
        padding: 16px 40px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #fff;
        @include mq(576) {
          // width: 100%;
          font-size: 15px;
          padding: 13px 40px;
        }
      }
    }
    .third__section {
      h6 {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 21px;
        text-align: left;
        color: #2b2b2b;
        @include mq(576) {
          align-items: unset;
        }
        @include mq(375) {
          font-size: 14px;
        }
        svg {
          margin-right: 9px;
        }
      }
      .social__network {
        margin-top: 27px;
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          li {
            margin-right: 12px;
            a {
              width: 38.29px;
              height: 38.29px;
              background: #fff;
              box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}
