.page1 {
  .section__features {
    margin-top: 32.3px;
    position: relative;
    .path__dashes {
      position: absolute;
      top: 30px;
      right: 40.9%;
      transform: translateX(50%);
      z-index: -1;
      @include mq(992) {
        display: none;
      }
    }
    h6 {
      text-align: center;
      span {
        display: inline-block;
        position: relative;
        font-weight: bold;
        font-size: 21px;
        color: #000;
        @include mq(576) {
          font-size: 14px;
          text-align: center;
          padding: 0;
        }
        &::after {
          position: absolute;
          right: 16px;
          top: -30px;
          content: "FEATURES";
          font-weight: bold;
          font-size: 64px;
          color: #000;
          opacity: 0.05;
          @include mq(576) {
            // transform: translate(-13%, -50%);
            font-size: 35px;
            right: 28px;
            top: -13px;
          }
          // @include mq(375) {
          // transform: translate(-2%, -50%);
          // }
          // @include mq(576) {
          //   font-size: 35px;
          //   transform: translate(-22%, -50%);
          // }
          // @include mq(500) {
          //    transform: translate(-21%, -50%);
          // }
          // @include mq(476) {
          //   transform: translate(-19%, -50%);
          // }
          // @include mq(450) {
          //   transform: translate(-11%, -50%);
          //  }
          // @include mq(400) {
          //   transform: translate(-13%, -50%);
          //  }
          // @include mq(340) {
          //   transform: translate(-2%, -50%);
          //  }
        }
      }
    }
    .step1 {
      margin-top: 133.1px;
      margin-bottom: 194px;
      @include mq(992) {
        margin-top: 53.1px;
        margin-bottom: 32px;
      }
      p {
        max-width: 486px;
        @include mq(576) {
          max-width: unset;
          width: 100%;
        }
      }
      .step1__content {
        margin-left: 15px;
        @include mq(576){
          margin-left: 0;
          padding: 8px;
        }
      }
    }
    .item {
      svg {
        transition: all 0.4s;
        @include mq(1200) {
          transform: scale(0.9);
        }
        @include mq(550) {
          max-width: 100%;
          height: 100%;
        }
      }
      @include mq(992) {
        .row {
          .pic__box {
            text-align: center;
            svg {
              max-width: unset;
              width: 100%;
            }
          }
        }
      }
      h4 {
        margin-top: 49px;
        font-weight: bold;
        font-size: 21px;
        letter-spacing: 0.01em;
        color: #000;
        margin-bottom: 17.5px;
        @include mq(576) {
          text-align: center;
          font-size: 14px;
          margin-top: 22px;
        }
      }
      p {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.01em;
        line-height: 29px;
        color: #343434;
        margin-bottom: 32.7px;
        text-align: justify;
        @include mq(576) {
          font-weight: normal;
          font-size: 14px;
          // padding: 8px;
        }
      }
      ul {
        @include mq(576) {
          display: none;
        }
        li {
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0.01em;
          line-height: 29px;
          color: #343434;
          margin-bottom: 13px;
          @include mq(576) {
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
    .step2 {
      margin-bottom: 142.6px;

      @include mq(992) {
        margin-bottom: 0;
        .row {
          flex-direction: column-reverse;
        }
      }
      .pic {
        position: relative;
        .circle {
          position: absolute;
          right: 55%;
          top: 56%;
          transform: translate(50%, -50%);
          z-index: -2;
        }
      }
      p {
        max-width: 452px;
        @include mq(576) {
          max-width: unset;
          width: 100%;
          padding-right: 16px;
          padding-left: 16px;
        }
      }
    }
    .step3 {
      margin-bottom: 199.2px;
      @include mq(992) {
        margin-bottom: 69.2px;
      }
      @include mq(550) {
        margin-bottom: 0px;
      }
      .pic__box {
        svg {
          max-width: 478.75px;
        }
      }
      svg {
        transition: all 0.4s;
        @include mq(1200) {
          transform: scale(0.8);
        }
        @include mq(576) {
          transform: scale(0.9);
        }
      }
      p {
        max-width: 482px;
        @include mq(576) {
          max-width: unset;
          width: 100%;
          padding-right: 16px;
          padding-left: 16px;
        }
      }
    }
    .step4 {
      position: relative;
      @include mq(992) {
        .row {
          flex-direction: column-reverse;
        }
      }
      b {
        @include mq(576) {
          font-weight: normal;
          font-size: 14px ;
        }
      }
      .line {
        @include mq(550) {
          display: none;
        }
        position: absolute;
        top: 357px;
        right: 0;
        z-index: -2;
        background: #2b2b2b;
        height: 4.18px;
        width: 100%;
      }
      .pic {
        position: relative;
        @include mq(550) {
          display: none;
        }
        .glob__shape {
          position: absolute;
          top: -80px;
          left: 0;
          z-index: -2;
        }
      }
      .responsive__img {
        display: none;
        @include mq(550) {
          display: block;
          height: 100%;
          max-width: 100%;
        }
      }
      p {
        b {
          font-weight: 500;
          font-size: 18px;
          line-height: 29px;
          color: #343434;
          @include mq(576) {
            font-weight: normal;
            font-size: 14px ;
          }
        }
        max-width: 468px;
        @include mq(576) {
          max-width: unset;
          width: 100%;
          padding-right: 16px;
          padding-left: 16px;
          font-size: 14px ;
        }
      }
    }
  }
  .first__section {
    display: flex;
    // align-items: center;
    margin-top: 40px;
    @include mq(992) {
      flex-wrap: wrap-reverse;
    }
    .left {
      width: 50%;
      padding-top: 60px;
      @include mq(992) {
        width: 100%;
        margin-bottom: 24px;
        padding-top: 0;
      }
      @include mq(576) {
        margin-bottom: 80px;
      }
      h4 {
        max-width: 576.65px;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: -0.02em;
        line-height: 55px;
        text-align: justify;
        color: #000;
        margin-bottom: 77px;
        @include mq(576) {
          font-size: 15px;
          letter-spacing: 0.02em;
          line-height: 25px;
          text-align: justify;
          color: #000;
          margin-bottom: 50px;
        }
      }
      .btns {
        display: flex;
        align-items: center;
        @include mq(576) {
          // flex-direction: column;
          justify-content: space-between;
        }
        a {
          width: 150px;
          height: 55px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          // margin-right: 30px;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          color: #fe6500;
          border: 4px solid #fe6500;

          &:first-child {
            background: #fe6500;
            color: #fff;
            box-shadow: 0px 10px 30px rgba(241, 165, 1, 0.15);
            margin-right: 27px;
            @include mq(450) {
              margin: 0;
            }
          }
          @include mq(576) {
            width: calc(50% - 4px);
            margin: 0;
            // margin-bottom: 8px;
          }
        }
      }
    }
    .right {
      width: 50%;
      text-align: right;
      @include mq(992) {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
        img {
          width: 100%;
          height: unset;
        }
      }
    }
  }
  .secund__section {
    .main__content {
      padding: 78px 96px 33px 116px;
      margin-top: 110px;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 0px 99px rgba(65, 65, 65, 0.12);
      position: relative;
      margin-bottom: 32px;
      @include mq(992) {
        padding: 20px;
        padding-top: 120px;
      }
      @include mq(768) {
        padding-top: 110px;
        padding-bottom: 30px;
      }
      .mobile__image {
        position: absolute;
        top: -150px;
        left: 116px;
        @include mq(992) {
          height: 150px;
          top: -70px;
          left: 40px;
        }
        @include mq(576) {
          height: 190px;
          top: -110px;
          left: 32%;
        }
        @include mq(400) {
          left: 27%;
        }
      }
      h3 {
        position: relative;
        font-weight: bold;
        font-size: 21px;
        text-align: right;
        color: #000;
        padding-right: 24px;
        margin-bottom: 70px;
        @include mq(992) {
          margin-bottom: 40px;
          font-size: 16px;
          text-align: left;
        }
        @include mq(768) {
          padding-left: 24px;
        }
        @include mq(576) {
          padding-left: 0px;
          font-size: 14px;
          text-align: center;
          padding: 0;
          margin-bottom: 28px;
        }
        &::after {
          content: "What is Clexi?";
          position: absolute;
          right: 50%;
          top: 50%;
          transform: translate(50%, -50%);
          width: 100%;
          font-weight: bold;
          font-size: 64px;
          text-align: right;
          color: #000;
          opacity: 0.05;

          @include mq(1200) {
            font-size: 65px;
          }
          @include mq(992) {
            font-size: 50px;
            right: unset;
            left: 0;
            transform: translate(-15%, -50%);
          }
          @include mq(576) {
            font-size: 35px;
            transform: translate(-22%, -50%);
          }
          @include mq(500) {
            font-size: 35px;
            transform: translate(-21%, -50%);
          }
          @include mq(400) {
            transform: translate(-13%, -50%);
          }
          @include mq(340) {
            transform: translate(-2%, -50%);
          }
        }
      }
      p {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.01em;
        line-height: 29px;
        text-align: justify;
        color: #343434;
        @include mq(576) {
          font-size: 14px;
        }
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 23px;

        .play__btn {
          width: 56.11px;
          height: 56.11px;
          background: #fe6500;
          box-shadow: 0px 15px 60px rgba(223, 105, 81, 0.3);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          padding-left: 4px;
          margin-right: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .third__section {
    .main__content {
      padding: 76px 96px 76px 112px;
      display: flex;
      width: 100%;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 0px 99px rgba(65, 65, 65, 0.12);
      margin-bottom: 62px;
      @include mq(992) {
        flex-wrap: wrap-reverse;
        padding: 20px;
        padding-top: 40px;
      }
      .left {
        width: 50%;
        @include mq(992) {
          width: 100%;
        }
        h3 {
          position: relative;
          font-weight: bold;
          font-size: 21px;
          // text-align: left;
          text-align: center;
          color: #000;
          // padding-left: 24px;
          margin-bottom: 56px;

          @include mq(992) {
            font-size: 16px;
            text-align: left;
            padding-left: 24px;
            margin-top: 16px;
          }
          @include mq(768) {
            padding-left: 24px;
            margin-bottom: 36px;
          }
          @include mq(576) {
            font-size: 14px;
            text-align: center;
            padding: 0;
            margin-top: 16px;
          }
          &::after {
            content: "Organization";
            position: absolute;
            left: 0%;
            top: 50%;
            // transform: translate(-20%, -50%);
            transform: translate(-10%, -50%);
            width: 100%;
            font-weight: bold;
            font-size: 64px;
            text-align: right;
            color: #000;
            opacity: 0.05;

            @include mq(1200) {
              font-size: 55px;
              transform: translate(-3%, -50%);
            }
            @include mq(992) {
              transform: translate(-44%, -50%);
            }
            @include mq(768) {
              font-size: 50px;
              transform: translate(-29%, -50%);
            }
            @include mq(576) {
              font-size: 35px;
              transform: translate(-22%, -50%);
            }
            @include mq(500) {
              transform: translate(-21%, -50%);
            }
            @include mq(476) {
              transform: translate(-19%, -50%);
            }
            @include mq(450) {
              transform: translate(-19%, -50%);
            }
            @include mq(400) {
              transform: translate(-13%, -50%);
            }
            @include mq(340) {
              transform: translate(-2%, -50%);
            }
          }
        }
        p {
          font-weight: 500;
          font-size: 18px;
          letter-spacing: -0.02em;
          line-height: 29px;
          text-align: justify;
          color: #343434;
          @include mq(576) {
            font-weight: normal;
            font-size: 14px;
          }
        }
      }
      .right {
        width: 50%;
        text-align: right;
        img {
        }
        @include mq(992) {
          width: 100%;
          text-align: center;
          img {
            max-width: 100%;
            height: unset;
            width: 100%;
          }
        }
        @include mq(576){
          img{
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  .fourth__section {
    .main__content {
      padding: 78px 96px 33px 116px;
      margin-top: 110px;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 0px 99px rgba(65, 65, 65, 0.12);
      position: relative;
      margin-bottom: 34px;
      @include mq(992) {
        margin-top: 150px;
        padding: 78px 24px 24px 24px;
      }
      .mobile__image {
        position: absolute;
        top: -200px;
        left: 57px;
        @include mq(992) {
          top: -150px;
          height: 200px;
        }
        @include mq(768) {
          top: -70px;
          height: 110px;
        }
        @include mq(576) {
          top: -120px;
          height: 160px;
          left: 125px;
        }
        @include mq(520) {
          left: 100px;
        }
        @include mq(500) {
          left: 80px;
        }
        @include mq(480) {
          left: 60px;
        }
        @include mq(460) {
          left: 50px;
        }
        @include mq(375) {
          left: 35px;
        }
        @include mq(350) {
          top: -90px;
          height: 140px;
          left: 35px;
        }
      }
      h3 {
        position: relative;
        font-weight: bold;
        font-size: 21px;
        text-align: right;
        color: #000;
        padding-right: 24px;
        margin-bottom: 70px;
        @include mq(992) {
          margin-bottom: 24px;
          text-align: left;
          padding-right: 0;
          padding-left: 0;
        }
        @include mq(768) {
          // padding-left: 24px;
        }
        @include mq(576) {
          font-size: 14px;
          text-align: center;
          padding: 0;
        }
        &::after {
          content: "Speed";
          position: absolute;
          right: 55%;
          top: 50%;
          transform: translate(50%, -50%);
          width: 100%;
          font-weight: bold;
          font-size: 64px;
          text-align: right;
          color: #000;
          opacity: 0.05;

          @include mq(1200) {
            font-size: 65px;
          }
          @include mq(992) {
            right: unset;
            left: 0;
            transform: translate(-40%, -50%);
          }
          @include mq(768) {
            font-size: 50px;
          }
          @include mq(576) {
            transform: translate(-40%, -50%);
            font-size: 35px;
          }
          @include mq(530) {
            transform: translate(-37%, -50%);
           }
           @include mq(490) {
            transform: translate(-34%, -50%);
           }
          @include mq(400) {
            transform: translate(-30%, -50%);
           }
          @include mq(340) {
            // transform: translate(-2%, -50%);
           }
        }
      }
      p {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.01em;
        line-height: 29px;
        text-align: justify;
        color: #343434;
        @include mq(576) {
          font-size: 14px;
        }
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 23px;

        .play__btn {
          width: 56.11px;
          height: 56.11px;
          background: #fe6500;
          box-shadow: 0px 15px 60px rgba(223, 105, 81, 0.3);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          padding-left: 4px;
          margin-right: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .fifth__section {
    .main__content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      @include mq(992) {
        flex-wrap: wrap;
      }
      .items {
        width: calc(50% - 20px);
        border-radius: 30px;
        background: #fff;
        box-shadow: 0px 0px 99px rgba(65, 65, 65, 0.1);
        padding: 58px;
        padding-top: 30px;
        margin-bottom: 34px;
        @include mq(992) {
          width: 100%;
          padding: 24px;
          padding-top: 30px;
          // margin-bottom: 0;
        }
        .item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: 140px;

          h5 {
            font-weight: bold;
            font-size: 21px;
            text-align: left;
            color: #000;
            margin-bottom: 0;
          }
          img {
            max-width: 190px;
            max-height: 137px;
            margin-right: 32px;
          }
          @include mq(576) {
            flex-direction: column;
            align-items: center;
            min-height: unset;
            h5 {
              margin-bottom: 16px;
              text-align: center;
              font-size: 14px;
            }
            img {
              margin-bottom: 24px;
              margin-right: 0;
             }
          }
        }
        p {
          font-weight: normal;
          font-size: 18px;
          line-height: 29px;
          text-align: justify;
          color: #343434;
          min-height: 112px;
          @include mq(576) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
