.page__2 {
  .first__section {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .left {
      width: 50%;
      img {
        height: 381px;
      }
    }
    .right {
      width: 50%;
      // margin-left: 60px;
      padding-left: 30px;
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        text-align: left;
        color: #000;
        margin-bottom: 24px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 31px;
        text-align: justify;
        color: #343434;
      }
    }
    @include mq(992) {
      flex-direction: column;
      .left {
        width: 100%;
        text-align: center;
      }
      .right {
        width: 100%;
        padding-left: 0;
        h3 {
          width: 100%;
        }
        p {
          width: 100%;
        }
      }
    }
    @include mq(576) {
      margin-top: 35px;
      .right {
        h3 {
          font-size: 14px;
          text-align: center;
          margin-bottom: 18px;
          line-height: unset;
          margin-top: 18px;
        }
        p {
          font-size: 14px;
          // line-height: 22px;
        }
      }

      .left {
        img {
          height: unset;
          max-width: 100%;
        }
      }
    }
  }
  .video__section {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: calc(33.33% - 18px);
      padding-bottom: 43px;
      @include mq(576) {
        margin-bottom: 37px;
      }
      margin: 9px;
      @include mq(992) {
        width: calc(50% - 18px);
      }
      @include mq(576) {
        width: 100%;
        margin: 9px 0;
      }
      video {
        width: 100%;
        height: 205px;
        object-fit: cover;
        border: 1px solid #707070;
        border-radius: 12px;
        @include mq(576) {
          height: 167px;
        }
      }
      h5 {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #000;
        margin-top: 16px;
        margin-bottom: 0;
        @include mq(576) {
          font-size: 15px;
        }
      }
    }
  }
}
