.page__8 {
  margin-top: 93px;
  margin-bottom: 80px;
  @include mq(576) {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: left;
    color: #000;
    margin-bottom: 45px;
    @include mq(576) {
      font-size: 14px;
      margin-bottom: 28px;
      line-height: unset;
      text-align: center;
    }
  }
  .download__box {
    display: flex;
    flex-direction: column;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 45px;
      padding-right: 24px;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
      margin-bottom: 26px;

      .item {
        display: flex;
        align-items: center;
        width: calc(100% - 82px);
        svg {
        }
        span {
          font-weight: 600;
          font-size: 25px;
          line-height: 34px;
          text-align: left;
          color: #252425;
          margin-left: 19px;
          @include mq(576) {
            font-size: 9px;
          }
        }
      }
      small {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 82.14px;
        height: 82.14px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);

        svg {
        }
      }
      @include mq(576) {
        padding: 24px;
        .item {
          svg {
            height: 40px;
          }
          span {
            font-size: 18px;
            margin-left: 8px;
          }
        }
        small {
          width: 60px;
          height: 60px;
        }
      }
      @include mq(576) {
        padding: 12px;
        border-radius: 10px;
        margin-bottom: 10px;
        .item {
          svg {
            height: 23px;
            width: unset;
          }
          span {
            font-size: 9px;
            // margin-left: 8px;
          }
        }
        small {
          width: 30px;
          height: 30px;
          border-radius: 8px;
          svg{
            height: 9px;
          }
        }
      }
    }
  }
}
