.page__9 {
  margin-top: 93px;
  margin-bottom: 78px;
  @include mq(576) {
    margin: 0px 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .first__section {
    h3 {
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      text-align: left;
      color: #000;
      margin-bottom: 65px;
      padding-left: 13px;
      @include mq(768) {
        margin-bottom: 18px;
      }
      @include mq(576) {
        display: none;
      }
    }
    .items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .item {
        width: calc(33.33% - 27px);
        height: 180px;
        border-radius: 20px;
        background-color: #e4e4e4;
        position: relative;
        padding-top: 45px;
        margin: 13px;
        @include mq(992) {
          width: calc(50% - 27px);
        }
        @include mq(768) {
          width: 100%;
          margin: 13px 0;
        }
        .discount {
          position: absolute;
          top: -24px;
          left: -24px;
          z-index: 1;

          span {
            position: absolute;
            left: 27px;
            top: 22px;
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            transform: rotate(-28deg);
          }
          @include mq(576) {
            top: -18px;
            left: -18px;
          }
        }
        .price__box {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: #f8f7f7;
          width: calc(100% - 200px);
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 24px;
          @include mq(1400) {
            width: calc(100% - 150px);
          }
          @include mq(1200) {
            width: calc(100% - 120px);
          }
          &::before {
            position: absolute;
            content: "";
            top: 0;
            right: -40px;
            width: 0;
            height: 0;
            border-top: 75px solid #f8f7f7;
            border-right: 40px solid transparent;
          }
          .price {
            display: flex;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 8px;
            h6 {
              display: flex;
              align-items: center;
              font-weight: bold;
              font-size: 39px;
              line-height: 23px;
              text-align: center;
              color: #000;
              margin-bottom: 8px;
              margin-right: 16px;
              small {
                font-weight: 500;
                font-size: 16px;
                line-height: 15px;
                text-align: center;
                color: #000;
                margin-right: 9px;
              }
            }
            span {
              display: flex;
              align-items: center;
              font-size: 9px;
              font-weight: 500;
              strong {
                font-size: 12px;
                margin-left: 4px;
              }
            }
          }
          h5 {
            font-weight: 500;
            font-size: 19px;
            line-height: 12px;
            text-align: left;
            color: #707070;
            margin-bottom: 0;
          }
        }
        .old__price {
          padding-left: 24px;
          font-weight: 600;
          font-size: 11px;
          letter-spacing: -0.01em;
          line-height: 12px;
          text-align: left;
          color: #e30404;
          text-decoration: line-through;
          margin-top: 12px;
        }
        .product__image {
          position: absolute;
          top: 20px;
          right: 37px;
          @include mq(1400) {
            top: 30px;
            right: 7px;
            height: 130px;
          }
          @include mq(1200) {
            top: 42px;
            right: 7px;
            height: 100px;
          }
        }
      }
    }
  }
  .buy__now {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    @include mq(576) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    a {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #fff;
      width: 150px;
      height: 55px;
      border-radius: 8px;
      background: #fe6500;
      box-shadow: 0px 10px 30px rgba(241, 165, 1, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
