.page__12 {
  margin-top: 105.9px;
  @include mq(576) {
    margin-top: 37.2px;
  }

  .page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 31.6px;
    margin-bottom: 46px;
    border-bottom: 1px solid #e4e4e4;
    @include mq(576) {
      padding-bottom: 12px;
      margin-bottom: 28px;
    }
    h5 {
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      text-align: left;
      color: #000;
      margin-bottom: 0;
      @include mq(576) {
        font-size: 14px;
      }
    }
    .result {
      font-weight: normal;
      font-size: 18px;

      line-height: 22px;
      text-align: left;
      color: #000;
      opacity: 0.51;
      @include mq(576) {
        font-size: 10px;
      }
    }
  }
  .items {
    .item {
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 40.1px;
      margin-bottom: 31.9px;
      @include mq(576) {
        padding-bottom: 16px;
        margin-bottom: 29px;
      }
      &:last-child {
        border-bottom: none;
      }
      .pic {
        display: block;
        max-width: 395.13px;
        border-radius: 20px;
        @include mq(992) {
          max-width: 100%;
          width: 100%;
          // margin-bottom: 20px;
          margin-bottom: 8px;
        }
        img {
          width: 100%;
          border-radius: 20px;
          @include mq(576) {
            height: 250px;
          }
          @include mq(500) {
            height: 230px;
          }
          @include mq(480) {
            height: 200px;
          }
          @include mq(430) {
            height: 180px;
          }
          @include mq(390) {
            height: 150px;
          }
          @include mq(360) {
            height: 120px;
          }
        }
      }
    }
    h3 {
      margin-top: 14px;
      font-weight: bold;
      font-size: 28px;
      line-height: 31px;
      text-align: left;
      margin-bottom: 16.5px;
      @include mq(576) {
        font-size: 14px;
        margin-bottom: 9px;
        line-height: 17px;
        text-align: justify;
      }
      a {
        color: #222224;
      }
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      text-align: justify;
      color: #2d2d2d;
      opacity: 0.8;
      @include mq(576) {
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
        margin: 0;
      }
    }
  }
}
