.page__7 {
  .first__section {
    display: flex;
    align-items: center;
    margin-top: 93px;
    .left {
      width: 50%;
      padding-right: 24px;
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        text-align: left;
        color: #000;
        margin-bottom: 45px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        text-align: justify;
        color: #343434;
        margin-bottom: 0;
      }
      @include mq(576) {
        h3 {
          text-align: center;
          font-size: 14px;
          margin-bottom: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .right {
      width: 50%;
      text-align: right;
      img,
      svg {
        height: 400px;
        @include mq(1300) {
          height: 340px;
        }
        @include mq(576) {
          margin-bottom: 10px;
        }
      }
    }
    @include mq(992) {
      flex-direction: column-reverse;
      margin-bottom: 16px;
      margin-top: 10px;
      .left {
        width: 100%;
        padding-right: 0;
      }
      .right {
        width: 100%;
        text-align: center;
        margin-top: 0px;

        svg,
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  .second__section {
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      text-align: justify;
      color: #343434;
      margin-bottom: 54px;
      @include mq(576) {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .third__section {
    margin-bottom: 60px;
    @include mq(576){
      margin-bottom: 36px;
    }
    h3 {
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 0.01em;
      line-height: 32px;
      text-align: left;
      color: #343434;
      margin-bottom: 22px;
      @include mq(576){
        font-size: 14px;
        line-height: 21px;
       }
    }
    ul {
      li {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.01em;
        line-height: 32px;
        text-align: left;
        color: #343434;
        padding-left: 20px;
        position: relative;
        margin-bottom: 8px;
        @include mq(576){
          font-size: 14px;
          font-weight: normal;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 9px;
          width: 12.47px;
          height: 12.47px;
          background: #f7763a;
          border-radius: 10px;
        }
      }
    }
  }
}
