.page__10 {
  // margin-top: 93px;
  padding-top: 100px;
  padding-bottom: 80px;
  overflow-x: hidden;
  @include mq(576){
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .main__content {
    width: 100%;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(65, 65, 65, 0.12);
    padding: 60px 90px;
    position: relative;
    @include mq(768) {
      padding: 60px 40px;
    }
    @include mq(450) {
      padding: 60px 20px;
    }
    @include mq(576) {
      padding: 30px 20px;
      padding-top: 200px;
    }
    @include mq(530) {
      padding-top: 190px;
    }
    @include mq(510) {
      padding-top: 180px;
    }
    @include mq(480) {
      padding-top: 160px;
    }
    @include mq(450) {
      padding-top: 170px;
    }
    @include mq(440) {
      padding-top: 155px;
    }
    @include mq(420) {
      padding-top: 140px;
    }
    @include mq(360) {
      padding-top: 110px;
    }
    // @include mq(370) {
    //   padding-top: 70px;
    // }
    img {
      position: absolute;
      right: -60px;
      top: -120px;
      @include mq(992) {
        right: -30px;
        top: -70px;
        height: 290px;
      }
      @include mq(768) {
        right: -30px;
        top: -50px;
        height: 200px;
      }
      @include mq(576) {
        top: -140px;
        width: 100%;
        right: unset;
        height: unset;
      }
      @include mq(530) {
        top: -130px;
      }
      @include mq(500) {
        top: -120px;
      }
      @include mq(470) {
        top: -110px;
      }
      @include mq(420) {
        // right: -10px;
        top: -100px;
        // height: 150px;
      }
      @include mq(375) {
        top: -85px;
        // height: 233px;
      }
      @include mq(340) {
        top: -85px;
        // height: 200px;
      }
    }

    h3 {
      position: relative;
      font-weight: bold;
      font-size: 23px;
      color: $black100;
      margin-bottom: 70px;
      padding-left: 50px;
      @include mq(992) {
        margin-bottom: 0;
      }
      @include mq(768) {
        padding-left: 24px;
      }
      @include mq(576) {
        font-size: 14px;
        text-align: center;
      }
      &::after {
        content: "About";
        position: absolute;
        right: 50%;
        top: 50%;
        font-weight: bold;
        font-size: 68px;
        color: $black100;
        opacity: 0.05;
        transform: translate(50%, -50%);
        width: 100%;

        @include mq(1200) {
          font-size: 65px;
        }
        @include mq(768) {
          font-size: 50px;
        }
        @include mq(576) {
          font-size: 35px;
          right: 47%;
        }
      }
    }
    p {
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0em;
      line-height: 32px;
      text-align: justify;
      color: #343434;
      margin-top: 40px;
      @include mq(576) {
        font-size: 14px;
        margin-top: 20px;
        padding-right: 8px;
        padding-left: 8px;
      }
      @include mq(480) {
        margin-top: 60px;
      }
      @include mq(450) {
        margin-top: 40px;
      }
    }
  }
}
