.page__6 {
  .first__section {
    display: flex;
    align-items: center;
    margin-top: 93px;
    .left {
      width: 50%;
      padding-right: 24px;
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        text-align: left;
        color: #000;
        margin-bottom: 33px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        text-align: justify;
        color: #343434;
        margin-bottom: 0;
      }
    }
    .right {
      width: 50%;
      text-align: right;
      img,
      svg {
        height: 400px;
        @include mq(1300) {
          height: 373px;
        }
        @include mq(576) {
          height: unset;
          width: 100%;
        }
      }
    }
    @include mq(992) {
      flex-direction: column-reverse;
      margin-bottom: 16px;
      margin-top: 0px;
      .left {
        width: 100%;
        padding-right: 0;
      }
      .right {
        width: 100%;
        text-align: center;
        margin-top: 0px;
        svg,
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    @include mq(576) {
      margin-top: 34px;
      .right {
        margin-top: 10px;
        img,
        svg {
          height: unset;
          width: 100%;
          margin-bottom: 18px;
        }
      }
      .left {
        h3 {
          text-align: center;
          font-size: 14px;
          margin-bottom: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .second__section {
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 31px;
      text-align: justify;
      color: #343434;
      margin-bottom: 70px;
      @include mq(576) {
        font-size: 14px;
        margin-top: 18px;
      }
    }
  }
}
